extends ../_component/layout/second
block config
  -
    var title = 'Privacy Policy'
    var description = 'Your privacy is very important to us! Accordingly, we have developed this policy in order for you to understand how we collect, use, communicate and disclose personal information'
block content
  .content
    #continue
      ol 
        li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc varius blandit risus et eleifend. Donec odio nisi, vestibulum vitae lectus sed, aliquet volutpat erat. Quisque et elit semper, consequat nisl nec, vulputate lectus. Sed et. 
        li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc varius blandit risus et eleifend. Donec odio nisi, vestibulum vitae lectus sed, aliquet volutpat erat. Quisque et elit semper, consequat nisl nec, vulputate lectus. Sed et.
        li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc varius blandit risus et eleifend. Donec odio nisi, vestibulum vitae lectus sed, aliquet volutpat erat. Quisque et elit semper, consequat nisl nec, vulputate lectus. Sed et.
        li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc varius blandit risus et eleifend. Donec odio nisi, vestibulum vitae lectus sed, aliquet volutpat erat. Quisque et elit semper, consequat nisl nec, vulputate lectus. Sed et.
        li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc varius blandit risus et eleifend. Donec odio nisi, vestibulum vitae lectus sed, aliquet volutpat erat. Quisque et elit semper, consequat nisl nec, vulputate lectus. Sed et.
        li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc varius blandit risus et eleifend. Donec odio nisi, vestibulum vitae lectus sed, aliquet volutpat erat. Quisque et elit semper, consequat nisl nec, vulputate lectus. Sed et. 
      include ../_component/top-arrow/top-arrow
      h2 How do we protect your information
      p Nam accumsan felis condimentum scelerisque efficitur. Ut rutrum pharetra enim in ultricies. Vestibulum convallis eros nec metus ullamcorper venenatis vel dignissim ante. Praesent ut ornare tellus, nec scelerisque felis. Nulla mauris orci, vulputate id pharetra non, dapibus et dolor. Quisque urna eros, molestie in sagittis et, porta laoreet leo. Mauris. 
      include ../_component/top-arrow/top-arrow
      h2 How we use cookies?
      p Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi. Integer pharetra mollis arcu, ut volutpat elit hendrerit et. Morbi quis felis scelerisque, luctus ante et, posuere elit. Nulla leo velit, vestibulum id feugiat scelerisque, scelerisque sit amet dui. Integer molestie eget nulla et venenatis. Vestibulum magna arcu.
      s Suspendisse dapibus eros quis augue varius, ut auctor magna convallis. Donec id nisi a leo volutpat eleifend. Donec blandit tellus. 
      include ../_component/top-arrow/top-arrow