$theme: 'pickled-bluewood';

$color-light: #f1f1f1;
$color-dark: #000;

@if ($theme == 'buttercup'){
  $color-light: #f1c40f;
  $color-dark: #f39c12;
}

@if ($theme == 'pickled-bluewood'){
  $color-light: #34495e;
  $color-dark: #2c3e50;
}
$color-white: #fff;
$color-golden-grass: #dd9a2d;