// quick css reset
// * {
//   margin: 0;
//   padding: 0;
//   border: 0;
//   box-sizing: border-box;
// }
html, body {
  height: 100%;
  font-family: 'Lobster';
}

html {
  font-size: 3.5vw;
}

.welcome {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(ellipse, $color-buttercup, $color-golden-grass);
  // & > * {
  //   width: 100%;
  // }
  h1 {
    color: $color-white;
    // font-size: 2rem;
  }

  a.scroll-down {
    color: $color-white;
    text-decoration: none;
    font-size: 1rem;
    border: 0.2rem solid $color-white;
    border-radius: 0.3rem;
    padding: 0.3rem 0.6rem;
    margin: 1rem;
  }
}