extends ../_component/layout/base
block config
  -
    var title = 'CSS3 Introduction'
    var description = 'CSS3, what i\'ve learned so far!'
block content    
  .content
    h2 Discover the power of CSS3
    .list-wrapper
      each article in data.css
        include ../_component/article/article
        //- pre=JSON.stringify(article, null, 2)