extends _component/layout/base
block config
  -
    var title = 'About Quick Blog'
    var description = 'Quick Blog is one of the fastest and quickest tool for writing blogs in the world'
  
block content
  .content
    h2 Features
    ul 
      li You can achive 100/100 Google Page speed insight score
      li Load and render on the client is bazing fast
      li Quick Blog allows you to build HTML pages quick and pain free
      li It uses PUG (former Jade) template language to generate HTML
