extends _component/layout/base
block config
  -
    var title = 'Contact Quick Blog'
    var description = 'Contact me, the creator, Catalin Sandru'
block content    
  .content
    h2 Contact Information
    p You can find me on those social media platforms:
    ul 
      li 
        a(href='https://www.facebook.com/sandru.catalin.1') Facebook
      li
        a(href='https://github.com/freebiker2000') GitHub
      li
        a(href='https://www.linkedin.com/in/catalin-valerian-sandru-784819119/') LinkedIn
    hr