extends _component/layout/base
block config
  -
    var title = 'Welcome to Quick Blog!'
    var description = 'Using super Quick Blog is easy and you can get 100/100 on Google pagespeed insights'
block content
  .welcome
    h1=title
    p=description
    a.scroll-down(href="#continue") click to continue reading or scroll down
  #continue
  p.lead Nunc viverra porta cursus. Mauris ornare ex metus, in accumsan arcu condimentum ac. Sed ac nulla in metus sodales rhoncus vel nec purus. Mauris arcu. 
  p
    small Etiam purus arcu, sodales ullamcorper luctus at, elementum vel neque. Phasellus sodales mi lorem, et interdum risus scelerisque rhoncus. Maecenas ipsum nibh, sagittis quis dolor in, viverra interdum lacus. Quisque ut faucibus nunc, sit amet egestas magna. Curabitur consequat tortor ut tincidunt venenatis. Aliquam pharetra metus ut velit scelerisque lobortis. 